<%- include('../partials/header')%>
    <%- include('navbar')%>
        <div id="preloader">
            <div id="status">
                <div class="spinner"></div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="icon-contain">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <i class="fas fa-tasks text-gradient-success"></i>
                                    </div>
                                    <div class="col-10 text-right">
                                        <h5 class="mt-0 mb-1">
                                            <%=No_of_events %>
                                        </h5>
                                        <p class="mb-0 font-12 text-muted">Total Events</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="icon-contain">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <i class="fas fa-users text-gradient-warning"></i>
                                    </div>
                                    <div class="col-10 text-right">
                                        <h5 class="mt-0 mb-1">
                                            <%=No_of_registartion %>
                                        </h5>
                                        <p class="mb-0 font-12 text-muted">Total Registration</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="card-group">
                <div class="card shadow-lg">

                    <div class="card-body">
                        <h5 class="card-title">Registration Details</h5>
                        <p class="card-text">Find how many people have registered for the event!</p>
                        <p class="card-text"><small class="text-muted"><a href="/showevent">Show Details</a></small></p>
                    </div>
                </div>
                <div class="card shadow-lg">

                    <div class="card-body">
                        <h5 class="card-title">Create Event</h5>
                        <p class="card-text">Want to create a event!</p>
                        <p class="card-text"><small class="text-muted"><a href="/create">Create event</a></small></p>
                    </div>
                </div>
                <div class="card shadow-lg">

                    <div class="card-body">
                        <h5 class="card-title">Events Links</h5>
                        <p class="card-text">Head over to find The links and Qr Code of the Events</p>
                        <p class="card-text"><small class="text-muted"><a href="/links">Find links</a></small></p>
                    </div>
                </div>
            </div>
        </div>

       
        <%- include('../partials/footer')%>