<%- include('../partials/header')%>
    <%- include('navbar')%>
    <style>

    body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background: #e74c3c !important; */
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color: white;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: black;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* color:white; */
    text-decoration:none;
    }
    </style>
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
        <div class="container w-100 mt-3">
            <div class="d-flex justify-content-end h-100">
                <form action="/search" method="post" class="searchbar">
                  <input name="find" class="search_input" type="text" name="" placeholder="Search...">
                  <button class="search_icon"><i class="fas fa-search"></i></button>
                </form>
              </div>
        </div>
        <div class="container">
            <% if(data.length==0){ %>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    swal("No Events have been created", "No data to be shown", "warning");
                </script>
                <%}%>
                    <div class="row">
                        <% data.forEach(element=>{ %>
                            <div class="col-md-4">

                                <div class="card mt-3">
                                    <div class="card-body">
                                        <h5 class="card-title"><%=element.name.replaceAll("-", " " );%></h5>
                                        <p class="card-text">
                                            Place:- <%=element.place%>
                                                <br>
                                                Date:- <%=element.date%>
                                                    <br>
                                                    Time:- <%=element.time%>
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="/showreg/<%=element.name%>" class="btn btn-primary">See
                                                registration</a>
                                            <a href="/addproduct/<%=element.name%>" class="btn btn-danger">Add
                                                Product</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <% }) %>
                    </div>
        </div>


        <%- include('../partials/footer')%>