<%- include('../partials/header')%>
    <%- include('navbar')%>
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
        <div class="container w-100 mt-3 shadow-lg p-1">
            <!-- form -->
            <form action="/search" method="post" class="w-100 d-flex justify-content-between align-items-center flex-wrap">
                <div class="m-2">
                    <span class="mb-2">From Date</span>
                    <input name="fromDate" type="date" class="form-control"/>
                </div>

                <div class="m-2">
                    <span class="mb-2">To Date</span>
                    <input name="toDate" type="date" class="form-control"/>
                </div>

                <div class="m-2">
                    <span class="mb-2">Name of Event</span>
                    <input name="eventNm" type="text" class="form-control" placeholder="name"/>
                </div>

                <div class="m-2">
                    <span class="mb-2">Place</span>
                    <!-- <input name="place" type="text" class="form-control" placeholder="place"/> -->
                    <select class="form-select" name="place" id="">
                        <option value="" hidden selected>Places</option>
                        <% places.forEach(element => { %>
                            <option value="<%=element %>"><%=element %></option>
                        <% }) %>
                    </select>
                </div>

                <div class="m-2"> 
                    <button type="submit" class="btn btn-danger">Search</button>
                </div>
            </form>
        </div>
        <div class="container">
            <% if(data.length==0){ %>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    swal("No Events have been created", "No data to be shown", "warning");
                </script>
                <%}%>
                    <div class="row">
                        <% data.forEach(element=>{ %>
                            <div class="col-md-4">

                                <div class="card mt-3 border-start border-4 border-warning shadow-lg rounded-end">
                                    <div class="card-body">
                                        <center><h1 class="card-title"><%=element.name.replaceAll("-", " " );%></h1></center>
                                        <hr>
                                        <p class="card-text">
                                            Place:- <%=element.place%>
                                                <br>
                                                Date:- <%=element.date%>
                                                    <br>
                                                    Time:- <%=element.time%>
                                                    <br>
                                                    No of Experience:- <%=element.noexp%>
                                                    <br>
                                                    No of Registration:- <%=element.noReg %>
                                                    <br>
                                                    No of Active Cards:- <%= element.noActive %>
                                        </p>
                                        <div class="d-flex justify-content-between flex-wrap">
                                            <a href="/showreg/<%=element.name%>" class="btn btn-primary m-1">See
                                                registration</a>
                                            <a href="/addproduct/<%=element.name%>" class="btn btn-danger m-1">Add
                                                Product</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <% }) %>
                    </div>
        </div>


        <%- include('../partials/footer')%>