<%- include('../partials/header')%>
    <%- include('navbar')%>
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <div class="container">
            <% if(data.length==0){ %>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    swal("No Events have been created", "No data to be shown", "warning");
                </script>
                <%}%>
                    <div class="row">
                        <% data.forEach(element=>{ %>
                            <div class="col-md-4">

                                <div class="card mt-3">
                                    <div class="card-body">
                                        <h5 class="card-title"><%=element.name.replaceAll("-", " " );%></h5>
                                        <p class="card-text">
                                            Place:- <%=element.place%>
                                                <br>
                                                Date:- <%=element.date%>
                                                    <br>
                                                    Time:- <%=element.time%>
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="/showreg/<%=element.name%>" class="btn btn-primary">See
                                                registration</a>
                                            <a href="/addproduct/<%=element.name%>" class="btn btn-danger">Add
                                                Product</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <% }) %>
                    </div>
        </div>


        <%- include('../partials/footer')%>